.icon {
  @apply w-4 h-4 m-1;
}

.paginationList {
  @apply flex items-center justify-center space-x-2;
}

.paginationText {
  @apply max-w-screen-lg text-sm text-gray-300 font-medium;
}

.paginationChoosePage {
  @apply flex;
}

.paginationChoosePageLabel {
  @apply flex flex-col mt-2 mb-2 mr-1 text-sm font-medium paginationText;
}

.paginationSelectPage {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 flex flex-col w-4/6 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
